.menu-div {
	background-color: #4e042a;
}
#menu {
	color: #e6dedd;
	background-color: #4e042a;
	font-size: 1.5rem;
	height: auto;
	width: "70%";

	margin: auto;
}
.nav-item {
	padding: 0 1rem;
}
.nav-item i {
	padding: 0 1rem;
}

nav ul li :hover,
nav ul li .active {
	color: #fff;
}

@media (max-width: 600px) {
	#menu {
		background-color: #4e042a;
		font-size: 1.5rem;
	}
	.nav-item {
		padding: 0 8rem;
	}
}
